<div class="swiper-container">
    <div class="swiper-wrapper">
    
        <!-- Lazy image -->
        <div class="swiper-slide story-slide">
            <div class="story animated fadeIn">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/521b1312-6a26-40e9-93ac-04c3e683acf4.jpg" aria-hidden class="swiper-lazy" alt="pennywise's profile picture">
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>
    
        <!-- Lazy image with srscet-->
        <div class="swiper-slide story-slide">
            <div class="story animated fadeIn">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/drmanhattan.jpg" aria-hidden data-srcset="https://cdn.damascus-engineering.com/andromeda/users/drmanhattan.jpg 2x" class="swiper-lazy" alt="drmanhattan's profile picture">
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>

        <!-- Lazy image with srscet-->
        <div class="swiper-slide story-slide">
            <div class="story animated fadeIn">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg" aria-hidden data-srcset="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg 2x" class="swiper-lazy" alt="jbalvin's profile picture">
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>

        <!-- Lazy image with srscet-->
        <div class="swiper-slide story-slide">
            <div class="story animated fadeIn">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg" aria-hidden data-srcset="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg 2x" class="swiper-lazy" alt="jbalvin's profile picture">
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>

        <!-- Lazy image with srscet-->
        <div class="swiper-slide story-slide">
            <div class="story animated fadeIn">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg" aria-hidden data-srcset="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg 2x" class="swiper-lazy" alt="jbalvin's profile picture">
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>

        <!-- Lazy image with srscet-->
        <div class="swiper-slide story-slide">
            <div class="story">
                <img data-src="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg" aria-hidden data-srcset="https://cdn.damascus-engineering.com/andromeda/users/jbalvin-profile.jpg 2x" class="swiper-lazy" alt="jbalvin's profile picture">
                <div class="swiper-lazy-preloader"></div>
            </div>
        </div>

    </div>
</div>