<div class="ph-content mat-app-background">
    <!-- Desktop actions+ wrapper -->
    <div class="sidebar">
        <!-- Desktop Stories -->
        <div class="container">
            <div class="action-sidebar-wrapper">
                <div class="action-sidebar" id="action-top">
                    <a class="action" routerLink="/">
                        <mat-icon fontSet="material-icons-outlined">bookmarks</mat-icon>
                        <b>Saved</b>
                    </a>
                </div>
                <div class="action-sidebar">
                    <a class="action" routerLink="/">
                        <mat-icon fontSet="material-icons-outlined">bookmarks</mat-icon>
                        <b>Payments</b>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="wrapper">
        <!-- Mobile stories -->
        <div class="stories-wrapper">
            <app-stories></app-stories>
            <mat-divider style="margin-top: 10px;"></mat-divider>
        </div>
    
        <!-- Main content -->
        <div class="main-content" role="main">
            <!-- Top -->
            <div class="ph-lg-swiper" id="main-top">
                <!-- Component -->
                <h2 style="margin-top: 0;">Top places</h2>
                <div class="swiper-wrapper"></div>
            </div>
    
            <!-- Near you -->
            <div class="ph-sm-swiper">
                <!-- Component -->
                <h2 style="margin-top: 0;">Near you</h2>
                <div class="swiper-wrapper"></div>
            </div>
    
            <!-- Offers -->
            <div class="ph-md-swiper">
                <!-- Component -->
                <h2 style="margin-top: 0;">Offers</h2>
                <div class="swiper-wrapper"></div>
            </div>

            <!-- Ad PWA Mobile -->
            <div class="ad-container" *ngIf="adState && mobile">
                <app-pwa-ad [(adState)]="adState"></app-pwa-ad>
            </div>

            <!-- Frequent -->
            <div class="ph-sm-swiper">
                <!-- Component -->
                <h2 style="margin-top: 0;">Frequent places</h2>
                <div class="swiper-wrapper"></div>
            </div>
    
            <!-- Recent -->
            <div class="ph-sm-swiper">
                <!-- Component -->
                <h2 style="margin-top: 0;">Recent</h2>
                <div class="swiper-wrapper"></div>
            </div>
        </div>
    </div>

    <!-- Desktop stories wrapper -->
    <div class="sidebar">
        <!-- Desktop Stories -->
        <div class="container">
            <mat-card class="stories-wrapper-desktop mat-elevation-z4" style="margin-top: 10px;">
                <small>Stories</small>
                <app-stories></app-stories>
            </mat-card>
        </div>
        <!-- Ad PWA Desktop -->
        <div class="ad-container" *ngIf="adState && !mobile">
            <app-pwa-ad [(adState)]="adState"></app-pwa-ad>
        </div>
        <!-- Footer -->
        <div class="footer-wrapper">
            <div class="useful-links">
                <small><a [routerLink]="['/about/business']">Placehub for Business</a></small> ·
                <small><a [routerLink]="['/about/developers']">Developers</a></small> ·
                <small><a [routerLink]="['/about/jobs']">Careers</a></small> ·
                <small><a [routerLink]="['/about']">Information</a></small> ·
                <small><a [routerLink]="['/about/ads']">Ads</a></small> ·
                <small><a [routerLink]="['/about/privacy']">Privacy</a></small> ·
                <small><a [routerLink]="['/docs/conditions']">Conditions</a></small>
            </div>
            <div style="text-align: center; padding: 8px 0;"><small><b>&copy; 2019 Placehub</b></small></div>
        </div>
    </div>
</div>