<div class="wrapper">
    <div class="stories-wrapper">
        <app-stories></app-stories>
        <mat-divider style="margin-top: 10px;"></mat-divider>
    </div>
    <div class="main-content">
        <div class="top-places">
            <div class="container">
                <h1>Top places</h1>
                <div class="swiper" >
                </div>
            </div>
        </div>
        <div class="top-places">
            <div class="container">
                <h1>Top places</h1>
                <div class="swiper" >
                </div>
            </div>
        </div>
        <div class="top-places">
            <div class="container">
                <h1>Top places</h1>
                <div class="swiper" >
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <h2>Stories</h2>
        <div class="stories-wrapper-desktop">
            <app-stories></app-stories>
        </div>
    </div>
</div>