@import 'src/assets/styles/scss/placehub.scss';
@include mat-core();

$gray: mat-color(mat-palette($mat-gray, 900));

.ph-content {
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.wrapper {
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    flex-flow: column;
    padding: 100px 0 80px 0;
}

.stories-wrapper {
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    * {
        width: inherit;
    }
}

.main-content {
    width: 100%;
    .ph-lg-swiper {
        margin: 16px;
        white-space: nowrap;
        max-width: 100%;
        
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;

        text-overflow: ellipsis;
        overflow: hidden;

        h2 {
            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 2em;
        }

        .swiper-wrapper {
            width: inherit;
            height: 400px;
            background: $primary;
            
            border-radius: 16px;
        }
    }

    .ph-sm-swiper {
        margin: 16px;
        white-space: nowrap;
        max-width: 100%;
        
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;

        text-overflow: ellipsis;
        overflow: hidden;

        h2 {
            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 2em;
        }

        .swiper-wrapper {
            width: inherit;
            height: 200px;
            background: $accent;
            
            border-radius: 16px;
        }
    }

    .ph-md-swiper {
        margin: 16px;
        white-space: nowrap;
        max-width: 100%;
        
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;

        text-overflow: ellipsis;
        overflow: hidden;

        h2 {
            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 2em;
        }

        .swiper-wrapper {
            width: inherit;
            height: 270px;
            background: $gray;
            
            border-radius: 16px;
        }
    }
}



.stories-wrapper-desktop {
    display: none;
}

.sidebar {
    display: none;
}

/* Desktop and tablets landscape */
@media (min-height: 720px) and (min-width: 835px) {
    .wrapper {
        padding: 0;
        height: 100vh;

        width: 72%;
        max-width: 1000px;
        align-self: center;
    }

    .stories-wrapper {
        display: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .stories-wrapper-desktop {
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    
        padding: 10px 0 24px 0;
        border-radius: 8px;
        width: 100%;
        height: max-content;
        max-height: max-content;
        overflow: hidden;
    
        * {
            width: 100%;
        }

        small {
            margin: 0;
            padding: 0 0 16px 16px;
            font-weight: 700;
            font-size: large;
        }
    }

    .wrapper {
        justify-content: center;
        flex-flow: row wrap;
    }

    .sidebar {
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-flow: column;
        overflow: hidden;

        width: 35%;
        max-width: 35%;
        height: 90vh;
        max-height: 85vh;
        padding-top: 15vh;

        .container {
            margin: 1vh 0 0 0;
        }

        .footer-wrapper {
            display: flex;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: column wrap;

            padding: 4px 8px;

            * {
                color: rgba($color: $gray, $alpha: 0.5);
            }

            .useful-links {
                text-align: center;
            }
        }
    }

    .main-content {
        width: 50%;
        max-width: 50%;
        height: 90vh;
        max-height: 90vh;
        padding-top: 10vh;

        overflow: auto;
        scrollbar-width: none;
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }
}

/* Mobile */
@media (max-width: 767px) { 
}

/* Tablets */
@media (min-width: 768px) and (max-width : 1279px) {
}

/* Modern big smartphones */
@media (min-width: 550px) and (max-width: 750px) and (max-height: 450px) and (orientation: landscape) {
}