<div class="ph-ad-container">
    <mat-card class="mat-elevation-z4">
        <div class="header">
            <h3>Enjoying placehub?</h3>
            <img src="assets/img/root/placehub_logo.svg" height="38" alt="placehub logo">
        </div>
        <small>Install placehub in your device to enjoy the latest features.</small>
        <div class="actions">
            <button mat-button (click)="close()">Not now</button>
            <button mat-flat-button>Install</button>
        </div>
    </mat-card>
</div>
