<div class="nav-bar mat-app-background mat-elevation-z8">
    <div class="item">
        <button mat-icon-button routerLink="/" routerLinkActive="active-link"><mat-icon fontSet="material-icons-outlined">home</mat-icon></button>
    </div>
    <div class="item">
        <button mat-icon-button routerLink="/explore" routerLinkActive="active-link"><mat-icon fontSet="material-icons-outlined">explore</mat-icon></button>
    </div>
    <div class="item">
        <button mat-icon-button routerLink="/offers" routerLinkActive="active-link"><mat-icon fontSet="material-icons-outlined">local_offer</mat-icon></button>
    </div>
    <div class="item">
        <button mat-icon-button routerLink="/notifications" routerLinkActive="active-link"><mat-icon fontSet="material-icons-outlined">notifications</mat-icon></button>
    </div>
    <div class="item">
        <button mat-icon-button routerLink="/account" (click)="onProfile()" routerLinkActive="active-link"><mat-icon fontSet="material-icons-outlined">account_circle</mat-icon></button>
    </div>
</div>